form
  :margin-left 30px

  label
    :display block

  input, textarea
    :margin 5px 0 15px 0

  input.wide-text-box
    :width 300px

  input.medium-text-box
    :width 225px

  div.form-submit-area

    input
      :margin 0



.form-header
  :margin 0 0 15px 20px
  :display block
  :font-size 30px
  :font-weight bold
  :padding-top 15px

table
  :margin 20px 0

  td, th
    :border 1px solid gray

  th
    :background-color lightgray
    :padding 5px

  td
    :padding 3px

table.search-results
  :min-width 305px

tr.contactLink, tr.caseLink
  :cursor pointer
