form
  :margin-left 30px

  label
    :display block

  input, textarea
    :margin-bottom 15px

  .form-submit-area

    input
      :margin 0


.form-header
  :margin 0 0 15px 20px
  :display block
  :font-size 30px
  :font-weight bold
  :padding-top 15px


