$headerHeight: 80px
$sidebarWidth: 200px
$footerHeight: 20px
$panelBorder: 1px solid lightgray
$logoSide: 48px
$logoMargin: ($headerHeight - $logoSide) / 2
$tabMargin: 40px
$tabHeight: 25px

*
  :margin 0
  :padding 0
  :font-family 'Lucida Grande', Helvetica, Arial

a, a:hover, a:visited
  :text-decoration none
  :color black

#header
  :position fixed
  :height $headerHeight
  :top 0
  :left 0
  :right 0
  :background-color #fff
  :z-index 2
  :border-bottom $panelBorder

#content-wrapper
  :margin-top $headerHeight

#sidebar
  :width $sidebarWidth
  :position fixed
  :left 0
  :top $headerHeight
  :bottom 0
  :background-color white
  :z-index 2
  :border-right $panelBorder

#main-content
  :margin-left $sidebarWidth

#logo
  :margin $logoMargin
  :height $logoSide
  :width  $logoSide
  :background url("/frontlinesms-legal/images/projectavatar.png")
  :float left

#tabs
  :height $tabHeight
  :margin-left $sidebarWidth
  :margin-top $headerHeight - $tabHeight

.tab
  :height $tabHeight
  :margin-left $tabMargin
  :margin-right $tabMargin
  :width 100px
  :text-align center
  :border-right $panelBorder
  :border-left $panelBorder
  :border-top $panelBorder
  :text-padding 5px

.selected
  :background-color #cccccc
